<div class="ml-20 pt-2">
    <div class="mt-5 h-auto w-full flex flex-wrap">
    <h2 class="font-bold text-md text-center w-full">Recent Invoices</h2>
    <div class="bg-white w-full">
        <div class="grid grid-cols-12 gap-4">
            <div></div>
          <div class="col-span-2 font-bold">CUSTOMER</div>
          <div class="col-span-3 font-bold">CUSTOMER NAME</div>
          <div class="col-span-2 font-bold">DATE</div>
          <div class="col-span-2 font-bold text-center">STATUS</div>
          <div class="col-span-2 font-bold">AMOUNT</div>
        </div>
        <div class="grid grid-cols-12 gap-2 pt-4">
            <div></div>
          <div class="col-span-2">#065499</div>
          <div class="col-span-3">Aurélien Salomon</div>
          <div class="col-span-2">04 Sep 2019</div>
          <div class="col-span-2 flex justify-center items-center">
            <div class="bg-green-500 text-white text-center py-1 px-4 rounded">Electric</div>
          </div>
          <div class="col-span-2">$100</div>
        </div>
      </div>
      
    </div>
</div>
