<div class="flex fixed left-0 top-0 bottom-0 w-24 bg-black overflow-hidden">
    <div class="flex flex-col h-full bg-black p-4 text-white w-24 rounded-r-lg">
        <slot name="steema-logo">
            <div class="flex justify-left border-b border-white mb-8">
                <img
                    src="./public/image00.png"
                    alt="Logo steema"
                    class="mt-5"
                    width="80"
                    height="80"
                />
            </div>
        </slot>
        <div class="mb-6 flex-grow">
            <div class="mb-4">
                <a
                    href="#"
                    class="block p-3 hover:bg-blue-600 rounded-md flex items-center justify-center text-sm"
                >
                    <img
                        src="./public/dashboard-svgrepo-com.svg"
                        class="fill-white size-5"
                        alt="Dashboard"
                    />
                </a>
            </div>
            <div class="mb-4">
                <a
                    href="#"
                    class="block p-3 hover:bg-blue-600 rounded-md flex items-center justify-center text-sm"
                >
                    <img
                        src="./public/chart-line-svgrepo-com.svg"
                        class="fill-white size-5"
                        alt="Chart"
                    />
                </a>
            </div>
            <div class="mb-4">
                <a
                    href="#"
                    class="block p-3 btn-settings hover:bg-blue-600 rounded-md flex items-center justify-center text-sm"
                >
                    <img
                        src="./public/settings.svg"
                        class="fill-white size-5"
                        alt="Settings"
                    />
                </a>
            </div>
            <div class="mb-4">
                <a
                    href="#"
                    class="block p-3 hover:bg-blue-600 rounded-md flex items-center justify-center text-sm"
                >
                    <img
                        src="./public/logout-svgrepo-com.svg"
                        class="fill-white size-5"
                        alt="Logout"
                    />
                </a>
            </div>
        </div>
        <div class="mb-4">
            <a
                href="#"
                class="block p-3 hover:bg-blue-600 rounded-md flex items-center justify-center text-sm"
            >
                <img
                    src="./public/profile-circle-svgrepo-com.svg"
                    class="fill-white size-6"
                    alt="Profile"
                />
            </a>
        </div>
    </div>
    <div
        id="settings-modal"
        class="hidden fixed z-10 inset-0 overflow-y-auto"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
    >
        <div
            class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
            <div
                class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                aria-hidden="true"
            >
            </div>
            <span
                class="hidden sm:inline-block sm:align-middle sm:h-screen"
                aria-hidden="true">​</span
            >
            <div
                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            >
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <h3
                        class="text-lg leading-6 font-medium text-gray-900"
                        id="modal-title"
                    >
                        Add new data
                    </h3>
                    <div class="mt-2">
                        <form id="new-data-form">
                            <label for="id">Chart ID:</label><br />
                            <select
                                id="id"
                                name="id"
                                class="border border-gray-300 p-2 rounded mb-4 w-full"
                            >
                            </select><br />
                            <label for="data">Data:</label><br />
                            <input
                                type="text"
                                id="data"
                                name="data"
                                placeholder="[100,200,300,400,500]"
                                class="border border-gray-300 p-2 rounded mb-4 w-full"
                            /><br />
                        </form>
                    </div>
                </div>
                <div
                    class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                >
                    <button
                        type="button"
                        class="btn-save-data w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                        >Save</button
                    >
                    <button
                        type="button"
                        class="btn-close-modal mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        >Cancel</button
                    >
                </div>
            </div>
        </div>
    </div>
    <script src="./javascript/logout.js" is:inline></script>
</div>
