<div
    class="flex bg-slate-200 w-full h-24 mb-3 pt-2 pl-18 pr-28 items-center fixed top-0 z-50 ml-24"
>
    <h3 class="font-bold text-xl ml-5">Analytics ✌</h3>

    <div class="relative flex mb-auto m-4 w-60 rounded-lg ml-auto items-center">
        <img
            src="./public/search-alt-2-svgrepo-com.svg"
            class="size-4 absolute left-3 align-middle"
        />
        <input
            type="text"
            class="m-2 font-xs pt-4 p-2 mb-5 rounded-lg pl-8"
            placeholder="Search"
            style="width: 100%;"
        />
    </div>
</div>

<div class="flex space-x-4">
    <button class="px-4 py-2 hover:bg-slate-300 rounded"
        ><img
            src="./public/mail-alt-3-svgrepo-com.svg"
            class="size-4"
        /></button
    >
    <button class="px-4 py-2 hover:bg-slate-300 rounded"
        ><img src="./public/bell-svgrepo-com.svg" class="size-4" /></button
    >
</div>
