---
interface Props {
    name: string;
    sprite: string;
    id: number;
}

const { name, sprite, id } = Astro.props;
const capitalizedName = name.charAt(0).toUpperCase() + name.slice(1);
const paddedId = id.toString().padStart(3, "0");
---

<div class="grid h-fit w-auto mx-auto rounded-lg flex flex-col m-1 p-1">
    <div class="flex justify-center">
        <div
            class="w-auto h-auto text-gray-800 rounded-lg border-2 p-3 border-yellow-500 flex flex-col items-center bg-blue-700"
        >
            <h2
                class="bg-yellow-300 rounded-lg w-full text-center p-1 text-lg m-1 text-black font-semibold"
            >
                {capitalizedName}
            </h2>
            <h1
                class="bg-yellow-100 rounded-lg p-1 w-fit text-center text-xs text-black"
            >
                #{paddedId}
            </h1>
            <img src={sprite} class="w-32" alt={capitalizedName} />
        </div>
    </div>
</div>
