---
import type { ImgAttributes } from "astro:assets";

interface Props {
    title: string;
    name: string;
    description: string;
    sprite: string;
}

const { name, description, title, sprite } = Astro.props;
const capitalizedName = name.charAt(0).toUpperCase() + name.slice(1);
---

<div class="grid h-full w-auto mx-auto rounded-lg flex flex-col m-10 p-2">
    <div class="flex justify-center">
        <div
            class="w-auto h-auto text-gray-800 rounded-lg border-2 p-2 border-yellow-500 p-10 flex flex-col items-center bg-blue-700"
        >
            <h2
                class="bg-yellow-300 rounded-lg w-full text-center p-2 text-lg m-2 text-black font-semibold"
            >
                {capitalizedName}
            </h2>
            <img src={sprite} class="w-32" alt={capitalizedName} />
            <span class="m-2 font-bold bg-white p-2 rounded h-auto">
                {description}
            </span>
        </div>
    </div>
</div>
