---
import BarChart from '../components/BarChart.astro';
import HomeLayout from '../layouts/HomeLayout.astro';
---
<HomeLayout title="Home">
	<main class="min-h-screen">
        <BarChart/>
	</main>
</HomeLayout>