---
import Layout from '../layouts/Layout.astro';
import LoginContainer from '../components/LoginContainer.astro';
---
<Layout title="Login">
	<main class="min-h-screen">
        <svg>
            <slot name="steema-logo"></slot>
        </svg>
        <slot name="welcome-message"></slot>
		<LoginContainer />
	</main>
</Layout>