---
import Layout from '../layouts/Layout.astro';
import LoginContainer from '../components/LoginContainer.astro';
---
<Layout title="Login">
	<main class="min-h-screen">
		<LoginContainer />
	</main>
</Layout>
