---
import Layout from "../layouts/Layout.astro";
import RegisterContainer from "../components/RegisterContainer.astro";
---

<Layout title="Register">
	<main class="min-h-screen">
		<RegisterContainer />
	</main>
</Layout>
