---
import Layout from "../../layouts/Layout.astro";
import CanvasTeechart from "../../components/CanvasTeechart.astro";
---

<Layout title="Canvas Teechart">
    <main class="flex justify-center">
        <div class="grid grid-cols-3 items-start w-full p-2">
            <CanvasTeechart
                id="lineChart"
                title="Total Sales"
                width="340"
                height="340"
            />
            <CanvasTeechart
                id="bar"
                data={[321, 13, 4, 150, 9, 29, 152]}
                title="Movies per day"
                width="600"
                height="400"
                labels={[
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday",
                ]}
            />
            <CanvasTeechart
                id="bar2"
                data={[521, 213, 12]}
                title="Total Revenue"
                width="600"
                height="400"
                labels={["Dairy section", "Meat department", "Seafood counter"]}
            />
            <CanvasTeechart
                id="donutChart"
                data={[100, 50, 95]}
                title="Music"
                width="350"
                height="400"
                labels={["Pop", "Rock", "Jazz"]}
            />
            <CanvasTeechart
                id="area"
                data={[80, 60, 55, 55, 60, 105, 200, 90, 73, 60, 62, 40]}
                title="Sales per month"
                width="1200"
                height="400"
            />
        </div>
    </main>
</Layout>
