---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Arkanoid from "../../components/Arkanoid.astro";
---

<Layout title="Canvas Teechart">
	<main>
		<Arkanoid />
	</main>
</Layout>
